---
http_interactions:
- request:
    method: patch
    uri: https://api-na.playground.klarna.com/customer-token/v1/tokens/unknown-token/status
    body:
      encoding: UTF-8
      string: '{"status":"CANCELLED"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Render-Time:
      - '19'
      Klarna-Correlation-Id:
      - 680364a1-a0fb-43ad-a4a8-4ce342d6e5d7
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error_code" : "TOKEN_NOT_FOUND",
          "error_messages" : [ "Customer token not found" ],
          "correlation_id" : "680364a1-a0fb-43ad-a4a8-4ce342d6e5d7"
        }
  recorded_at: Mon, 04 Oct 2021 15:29:44 GMT
recorded_with: VCR 5.1.0
