---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/customer-token/v1/tokens/91532188-4b48-4fe7-b075-16b95da53da9/order
    body:
      encoding: UTF-8
      string: '{"purchase_country":"US","purchase_currency":"USD","locale":"en-US","merchant_reference1":"ON4711","order_amount":3674,"order_tax_amount":175,"order_lines":[{"name":"Running
        shoe","quantity":1,"total_amount":2999,"unit_price":2999,"type":"physical"},{"name":"shipping","quantity":1,"total_amount":500,"unit_price":500,"type":"shipping_fee"},{"name":"taxes","quantity":1,"total_amount":175,"unit_price":175,"type":"sales_tax"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 85b99029-363f-47e0-83bb-ba94a928bc3f
      Render-Time:
      - '2642'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "authorized_payment_method" : {
            "type" : "slice_it_by_card"
          },
          "fraud_status" : "ACCEPTED",
          "order_id" : "faca4d01-6921-1864-9828-a945cc1689a0"
        }
  recorded_at: Mon, 04 Oct 2021 15:08:59 GMT
recorded_with: VCR 5.1.0
