---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/customer-token/v1/tokens/91532188-4b48-4fe7-b075-16b95da53da9/order
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 333f00f4-022a-4d79-a4a2-41e930a93e1d
      Render-Time:
      - '42'
    body:
      encoding: UTF-8
      string: |-
        {
          "correlation_id" : "333f00f4-022a-4d79-a4a2-41e930a93e1d",
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: order_lines, purchase_currency, order_amount, order_tax_amount" ]
        }
  recorded_at: Mon, 04 Oct 2021 15:08:56 GMT
recorded_with: VCR 5.1.0
