---
http_interactions:
- request:
    method: get
    uri: https://api-na.playground.klarna.com/customer-token/v1/tokens/unknown-token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Render-Time:
      - '53'
      Klarna-Correlation-Id:
      - 84cfb41b-5a95-4523-b1e4-2a7e3a9fa267
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error_code" : "TOKEN_NOT_FOUND",
          "error_messages" : [ "Customer token not found" ],
          "correlation_id" : "84cfb41b-5a95-4523-b1e4-2a7e3a9fa267"
        }
  recorded_at: Mon, 04 Oct 2021 15:09:00 GMT
recorded_with: VCR 5.1.0
