---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/payments/v1/authorizations/5ab38828-3664-3246-9785-31d37f75978c/order
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - caad27da-a68f-4644-b319-8b505343f809
      Render-Time:
      - '3'
    body:
      encoding: UTF-8
      string: |-
        {
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: purchase_country, order_amount, order_lines, purchase_currency" ],
          "correlation_id" : "caad27da-a68f-4644-b319-8b505343f809"
        }
  recorded_at: Mon, 20 Sep 2021 14:29:13 GMT
recorded_with: VCR 5.1.0
