---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/payments/v1/authorizations/3fbd1fac-a764-3851-b35e-3a58a7aa52be/customer-token
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 34211eec-2ab4-4f05-9f56-8b94a1573638
      Render-Time:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: description, intended_use" ],
          "correlation_id" : "34211eec-2ab4-4f05-9f56-8b94a1573638"
        }
  recorded_at: Fri, 17 Sep 2021 08:54:35 GMT
recorded_with: VCR 5.1.0
