---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/payments/v1/sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Render-Time:
      - '0'
      Klarna-Correlation-Id:
      - 999ff579-94e0-428c-932b-54421f7454e5
    body:
      encoding: UTF-8
      string: |-
        {
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: purchase_country, purchase_currency" ],
          "correlation_id" : "999ff579-94e0-428c-932b-54421f7454e5"
        }
  recorded_at: Tue, 10 Aug 2021 19:35:40 GMT
recorded_with: VCR 5.1.0
