---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/payments/v1/sessions/session_id
    body:
      encoding: UTF-8
      string: '{"locale":"en-US","order_amount":200,"order_lines":[{"name":"Running
        shoes","quantity":4,"total_amount":200,"unit_price":50}],"purchase_country":"US","purchase_currency":"USD"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Klarna-Correlation-Id:
      - 28074411-0030-49dd-93a7-52ea314b82c4
      Render-Time:
      - '3'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 13 Aug 2021 15:35:53 GMT
recorded_with: VCR 5.1.0
