---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/40b8f7cc-e62f-393d-9dc3-61d139a3e461/refunds
    body:
      encoding: UTF-8
      string: '{"refunded_amount":5,"description":"description","reference":"reference"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/40b8f7cc-e62f-393d-9dc3-61d139a3e461/refunds/a9ed5e18-8e33-45e6-938b-9209d150645e
      Refund-Id:
      - a9ed5e18-8e33-45e6-938b-9209d150645e
      Transaction-Id:
      - c3b3879c-384d-4938-ba1f-aa727e18d91e
      Klarna-Correlation-Id:
      - 2ef5bcaf-76d1-4c86-8a12-ef34a76647fa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 13:22:25 GMT
recorded_with: VCR 5.1.0
