---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/40b8f7cc-e62f-393d-9dc3-61d139a3e461/refunds
    body:
      encoding: UTF-8
      string: '{"refunded_amount":5,"description":"description","reference":"reference"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/40b8f7cc-e62f-393d-9dc3-61d139a3e461/refunds/cd62464f-0cfe-4e2e-88eb-f0de71f4d1c5
      Refund-Id:
      - cd62464f-0cfe-4e2e-88eb-f0de71f4d1c5
      Transaction-Id:
      - 1d0962c5-3e3e-4191-a0d4-55de941d5876
      Klarna-Correlation-Id:
      - f6512d0f-346c-4bb1-967e-17edd347f289
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 13:22:24 GMT
recorded_with: VCR 5.1.0
