---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/40b8f7cc-e62f-393d-9dc3-61d139a3e461/refunds
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 1aa0b999-152c-404a-b01a-b2580b6ca9a6
    body:
      encoding: UTF-8
      string: '{"error_code":"UNPROCESSABLE_ENTITY","error_messages":["''refunded_amount''
        must not be null"],"correlation_id":"1aa0b999-152c-404a-b01a-b2580b6ca9a6"}'
  recorded_at: Fri, 17 Sep 2021 13:12:35 GMT
recorded_with: VCR 5.1.0
