---
http_interactions:
- request:
    method: get
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/62b809e8-b8c9-3be7-be36-80513716e7c0/refunds/c0cd23c3-64b9-4a49-baad-f680a038e820
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - ff96beaa-c05e-4cce-93ac-bf6540270c58
    body:
      encoding: ASCII-8BIT
      string: '{"refund_id":"c0cd23c3-64b9-4a49-baad-f680a038e820","refunded_amount":5,"refunded_at":"2021-09-17T13:10:53.702Z","description":"description","order_lines":[],"credit_invoice":false}'
  recorded_at: Fri, 17 Sep 2021 13:27:49 GMT
recorded_with: VCR 5.1.0
