---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/62b809e8-b8c9-3be7-be36-80513716e7c0/refunds
    body:
      encoding: UTF-8
      string: '{"refunded_amount":5,"description":"description","reference":"reference"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/62b809e8-b8c9-3be7-be36-80513716e7c0/refunds/6be2187c-e514-44da-b0b0-2945c8a3ad53
      Refund-Id:
      - 6be2187c-e514-44da-b0b0-2945c8a3ad53
      Transaction-Id:
      - b2bbaf1f-ffea-465a-88aa-b5c8bdcd0066
      Klarna-Correlation-Id:
      - e1584ecd-9664-4b4b-b842-99cce521ab09
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 13:10:52 GMT
recorded_with: VCR 5.1.0
