---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/62b809e8-b8c9-3be7-be36-80513716e7c0/refunds
    body:
      encoding: UTF-8
      string: '{"refunded_amount":5,"description":"description","reference":"reference"}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/62b809e8-b8c9-3be7-be36-80513716e7c0/refunds/c0cd23c3-64b9-4a49-baad-f680a038e820
      Refund-Id:
      - c0cd23c3-64b9-4a49-baad-f680a038e820
      Transaction-Id:
      - 3188d631-ffe2-4106-b9a1-573f8e0ec0b4
      Klarna-Correlation-Id:
      - 59442968-a95d-4a48-8e88-f33d25fce1da
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 13:10:53 GMT
recorded_with: VCR 5.1.0
