---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures
    body:
      encoding: UTF-8
      string: '{"captured_amount":50,"shipping_info":[{"shipping_company":"company","tracking_number":1245,"tracking_url":"tracking.com"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures/d157b93a-bebf-491c-99e7-a99b0f2b60c2
      Transaction-Id:
      - 4b44ce7f-3e6e-4a51-bb46-a847b99b2934
      Capture-Id:
      - d157b93a-bebf-491c-99e7-a99b0f2b60c2
      Klarna-Correlation-Id:
      - 885219b7-362c-4b0a-86c5-3f720009afa2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 10:03:36 GMT
recorded_with: VCR 5.1.0
