---
http_interactions:
- request:
    method: get
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - dd486efd-5343-4515-8fdc-a72937a72205
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2021-09-17T09:20:11.771Z","status":404,"error":"Not Found","message":"No
        message available","path":"/merchants/UG100219/orders/"}'
  recorded_at: Fri, 17 Sep 2021 09:20:11 GMT
recorded_with: VCR 5.1.0
