---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures
    body:
      encoding: UTF-8
      string: '{"captured_amount":50,"shipping_info":[{"shipping_company":"company","tracking_number":1245,"tracking_url":"tracking.com"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures/93c73439-77ba-4ba2-8cbf-6c173fe4bccc
      Transaction-Id:
      - c575ecf7-be22-480e-b168-deee3e61636a
      Capture-Id:
      - 93c73439-77ba-4ba2-8cbf-6c173fe4bccc
      Klarna-Correlation-Id:
      - eac2325f-38ad-4a69-8343-fbf4d1ae1219
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 10:03:37 GMT
recorded_with: VCR 5.1.0
