---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures/d157b93a-bebf-491c-99e7-a99b0f2b60c2/shipping-info
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 24b51311-6fe7-432f-b0ad-428ba7d846f1
    body:
      encoding: UTF-8
      string: '{"error_code":"UNPROCESSABLE_ENTITY","error_messages":["''shipping_info''
        must not be null"],"correlation_id":"24b51311-6fe7-432f-b0ad-428ba7d846f1"}'
  recorded_at: Fri, 17 Sep 2021 13:41:15 GMT
recorded_with: VCR 5.1.0
