---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/ordermanagement/v1/orders/f5b2b1b3-4d70-39a7-8d30-86470631eee3/captures/d157b93a-bebf-491c-99e7-a99b0f2b60c2/shipping-info
    body:
      encoding: UTF-8
      string: '{"shipping_info":[{"shipping_company":"DHL US","shipping_method":"Home","tracking_number":"63456415674545679874","tracking_uri":"http://shipping.example/findmypackage?63456415674545679874","return_shipping_company":"DHL
        US","return_tracking_number":"93456415674545679888","return_tracking_uri":"http://shipping.example/findmypackage?93456415674545679888"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization: "<AUTHORIZATION>"
  response:
    status:
      code: 204
      message: No Content
    headers:
      Transaction-Id:
      - b9c16bb7-ec5b-4c3e-9916-5a006479d063
      Klarna-Correlation-Id:
      - 1850f59d-6169-45fe-a920-21621fd34fca
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 17 Sep 2021 13:41:15 GMT
recorded_with: VCR 5.1.0
